<h1><%= "All Itineraries For #{@destination.city}" %></h1>


<% @itineraries.each do |i| %>
    <div class="your_itineraries">
        <% if Event.upcoming.include?(i.event) %>

            <%= render partial: "itinerary", locals: {user_itinerary: i} %>

        <% end %>
    </div>  
    <br><br>   
<% end %>