<h1><%= "All Itineraries For #{@destination.city}" %></h1>


<% @itineraries.each do |i| %>
    <% if current_user.events.upcoming.include?(i.event) %>
        <div class="your_itineraries">
            <%= render partial: "itinerary", locals: {user_itinerary: i} %>
            </div>  
    <% end %>
    <br><br>  
<% end %>