<%= render 'form' %>

<h1>Welcome To MyItinerary!</h1><br><br>


<% if session[:user_id] %> 

    <p id="session_info">
        Currently logged in as <%= current_user.username %><br>
        Your contact information provided is <%= current_user.email %>
    </p>
<% else %>
    <form action='/auth/google_oauth2'>
        <p id="google_signin_button">
            <input type="submit" value="Sign in with Google" />
        </p>   
    </form>
<% end %>

<br><br>

<p id="welcome">
    Check out exciting, upcoming events from some of the most popular destinations!
</p>