<% if flash[:message] %>
    <div class="flash-message">
        <%= flash[:message]%>
    </div>
<% end %>


<h1>Welcome To MyItinerary!</h1><br><br>

<div class = "welcome">
    <p> Check out exciting, upcoming events from some of the most popular destinations! </p>
</div>