<%= render 'layouts/flash' %>

<h1><%= @destination.city %></h1>

<div class="destination_event">

    <%= render partial: "event", locals: {destination: @destination, destination_event: @event} %>

</div>



