<% if flash[:message] %>
    <div class="flash-message">
        <%= flash[:message] %>
    </div>
<% end %>


<% if flash[:success] %>
    <div class="flash-success">
        <%= flash[:success]%>
    </div>
<% end %>