<h1><%= @destination.city %></h1>

<% @destination.events.each do |e| %>
    <h1><%= e.description =%></h1>
<% end %>

<p><%= link_to "Edit", edit_destination_path(@destination) %></p>
<p><%= link_to "Delete Destination", destination_path(@destination), :method => :delete %></p>

