// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.signup_form {
    padding: 20px;
    background-color: #eeeeee;
    border-radius: 7px;
    vertical-align: middle;
    text-align: center;
    width: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#user_username {
    border-radius: 25px;
}

#user_email {
    border-radius: 25px;
}

#user_password {
    border-radius: 25px;
    font-style: italic;
}

#user_password_confirmation {
    border-radius: 25px;
}

#user_admin {
    border-radius: 25px;
}

h1 {
    vertical-align: middle;
    text-align: center;
}

label {
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
}